*{
	margin: 0;
	padding: 0;
}

body{
	background: url(po.jpg) no-repeat;
	background-attachment:fixed;
	
}

h1, h2{
	text-align: center;
	color: floralwhite;

}


.all{
	display: flex;
	justify-content: space-around;
}
.main{

	margin: 0px auto;
	width: 1200px;

}

.item{
	width: 180px;
	text-align: center;

}
.a{
	height: 130px;
}

.virus{
	margin-bottom: 30px;
	height: 130px;
	width: 180px;
	vertical-align: top;
}

.delete{
	padding: 10px 20px;
	width: 100px;
	background: red;
	opacity: 1;
	visibility:visible;
	outline: none;
	border: none;

}
.deletee{
	padding: 10px 20px;
	width: 100px;
	background: red;
	opacity: 1;
	visibility:visible;
	outline: none;
	border: none;
}

.deleteee{
	padding: 10px 20px;
	width: 100px;
	background: red;
	opacity: 1;
	visibility:visible;
	outline: none;
	border: none;
}

.torr{
	padding: 10px 20px;
	width: 100px;
	background: red;
	opacity: 1;
	visibility:visible;
	outline: none;
	border: none;
}





a{
	text-decoration: none;
	color: white;
}



.i{	
	display: flex;
	text-align: center;
}


.io{
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	background: red;
	padding: 10px;
	height: 25px;
	width: 500px;
	font-size:25px ;
}

@media (max-width: 450px) { 
		.main{
			width: 450px
		}
		.all{
			width: 450px;
			flex-direction:column ;
		}
		.item{
			margin: 0 auto;
			margin-bottom: 50px;

		}

		h1, h2{
			font-size: 20px;
			text-align: center;
			padding-bottom: 30px;
		}


}